.Navbar {
    font-size:'30px';
    display: 'flex';
    background-color: 'red';

}
.Container {
    font-size:'30px';
    display: 'flex';
    background-color: 'red';

}
.respon{
    margin-left: 700px;
}
.Link{
    margin-left: 20px;
    font-size: 20px;
    color: white;
    list-style: none;
    text-decoration: none;

}
.title{
    font-size:'25px';
    margin-right:'25px';
    text-decoration-color:'transparent';
    color:'white';
    
}